<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
              * {
        box-sizing: border-box;
        }

        html,
        body {
          margin: 0 auto;
          height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            font-family: monospace;
            justify-content: center;
            background-color: #1d212b;
            flex-direction: column;
        }

        .login-box {
            position: relative;
            width: 400px;
            padding: 20px 0px 20px 0px;
            text-align: center;
            color: #252B37;
            background-color: #191d2a;
            animation: textColor 5s ease infinite;
            border-radius: 10px;
        }
        .login-box:after {
            position: absolute;
            content: "";
            top: 5vw;
            left: 0;
            right: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            transform: scale(0.85);
            -webkit-filter: blur(30px);
            -moz-filter: blur(30px);
            -ms-filter: blur(30px);
            filter: blur(30px);
            background: linear-gradient(270deg, #0fffc1, #7e0fff);
            background-size: 200% 200%;
            animation: animateGlow 1s ease infinite;
        }
        @keyframes animateGlow {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        @keyframes textColor {
            0% {
                color: #7e0fff;
            }
            50% {
                color: #0fffc1;
            }
            100% {
                color: #7e0fff;
            }
        }

        @keyframes buttonGlow {
            0% {
                /* background: #7e0fff; */
                text-shadow: 0px 0px 5px #7e0fff;
                color: #7e0fff;
            }
            50% {
                /* background: #0fffc1; */

                text-shadow: 0px 0px 5px #0fffc1;
                color: #0fffc1;
            }
            100% {
                /* background: #7e0fff; */
                text-shadow: 0px 0px 5px #7e0fff;
                color: #7e0fff;
            }
        }

        @keyframes gradient {
            0% {
                background-position: 0 0;
            }
            100% {
                background-position: 100% 0;
            }
        }

        .input-box {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 90%;
            max-width: 400px;
            margin: 0 auto;
            border-radius: 2px;
            padding: 0px;
            background: #1f2433;
        }
        .input-box:after {
            content: "";
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            z-index: 999;
            height: 0.5px;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            background-position: 0% 0%;
            background: linear-gradient(
            to right,
            #b294ff,
            #57e6e6,
            #feffb8,
            #57e6e6,
            #b294ff,
            #57e6e6
            );
            background-size: 500% auto;
            animation: gradient 2s linear infinite;
        }

        .input-box input {
            flex-grow: 1;
            color: #bfd2ff;
            vertical-align: middle;
            background: none;
            width: 100%;
            font-size: 12px;
            border: none;
            padding: 10px;
            outline: none;
        }

        .input-box input::-webkit-input-placeholder {
            color: #7881a1;
        }

        
        .label{
            font-size: 14px;
            padding: 0px;
            margin: 0px;
            text-align: left;
            margin: 15px 0px 5px 15px;
        }

        .login-box input[type=date]::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        .login-box input[type=password]{
            filter: invert(1);
            color: black;
            
        }

        .login-box input[class=button]{
            width: 90%;
            animation: textColor 5s ease infinite;
            background: none;
            outline: none;
            border: none;
            padding: 5px;
            margin: 10px 10px 0px 10px;
        }

        .login-box input[class=button]:hover{
            cursor: pointer;
            margin: 10px 10px 0px 10px;
            animation: buttonGlow 5s ease infinite;
        }

        .list__item {
            position: relative;
            margin-left: 25px;
        }
        

        .radio-btn {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            color: transparent;
        }
        .radio-btn:checked + .label_radio {
            animation: textColor 5s ease infinite;  
        }

        .radio-btn::before {
            margin-right: 10px;
        }
        

        .label_radio {
            display: flex;
            align-items: center;
            padding: 5px 0;
            color: rgba(255, 255, 255, 0.5);
            font-size: 13px;
            cursor: pointer;
        }

        .label_radio::before {
            display: inline-block;
            content: ">";
            margin-right: 5px;
        }
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

        

table {
  width: 100%;
  border-spacing: 0;
  border-radius: 1em;
  overflow: hidden;
}

thead {
 visibility: hidden;
 position: absolute;
 width: 0;
 height: 0;
}

th {
  background: #215A8E;
  color: #fff;
}

td:nth-child(1) {
  background: #8e212f;
  color: #fff;
  border-radius: 1em 1em 0 0;
}

th, td {
  padding: 1em;
}

tr, td {
  display: block;
}

td {
  position: relative;
}

td::before {
  content: attr(data-label);
  position: absolute;
  left: 0;
  padding-left: 1em;
  font-weight: 600;
  font-size: .9em;
  text-transform: uppercase;
}

tr {
  margin-bottom: 1.5em;
  border: 1px solid #ddd;
  border-radius: 1em;
  text-align: right;
}

tr:last-of-type {
  margin-bottom: 0;
}

td:nth-child(n+2):nth-child(odd) {
  background-color: #ddd;
}


@media only screen and (min-width: 768px) {
  
  table {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid #ddd;
  }
  
  thead {
    visibility: visible;
    position: relative;
  }
  
  th {
    text-align: left;
    text-transform: uppercase;
    font-size: .9em;
  }
  
  tr {
    display: table-row;
    border: none;
    border-radius: 0;
    text-align: left;
  }
  
  tr:nth-child(even) {
  background-color: #ddd;
}
  
  td {
    display: table-cell;
  }
  
  td::before {
    content: none;
  }
  
  td:nth-child(1) {
    background: transparent;
    color: rgb(68, 68, 68);
    border-radius: 0;
  }
  
  td:nth-child(n+2):nth-child(odd) {
    background-color: transparent;
  }
  
  
}
:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #34495e;
  --darkgray: #2c3e50;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

/* Other styles*/

h1 {
  margin: 0 0 0.25em;
}
a {
  font-weight: bold;
  color: var(--gray);
  text-decoration: none;
  padding: .25em;
  border-radius: .25em;
  background: white;
}
    </style>
</head>

<body>
  <h1><a href="/api/index">Back</a></h1>
    <form action="depart" method="post">
  
        <div class="login-box">
            <h1>Ajouter Departement</h1>
            <p class="label">Name</p>
            <div class="input-box">
                <input class="" name="name" type="text" placeholder="Name"></input>
            </div>
            <p class="label">Description</p>
            <div class="input-box">
                <input class="" name="description" type="text" placeholder="description"></input>
            </div>
            <input type="submit" class="button" value="Submit">
        </div>
    </form>
    <div class="table-data" style="
    border: solid;
    background-color: rebeccapurple;
    margin-top: 100px;

">
    <h2 style="
    color: aquamarine;
    text-align: center;
">Display Departement </h2>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Description</th>
             

                
            </tr>
            
            <%
            if(allDep.length!=0){
            var i=1;
            allDep.forEach(function(data){
            %>
            <tr>
                <td><%=i; %></td>
                <td><%=data.name %></td>
                <td><%=data.description %></td>
              
               

                <td><a style="
                    text-decoration: none;
                    color: black;
                " href="editdep/<%=data.id%>">Edit</a></td>
                <td><a style="
                    text-decoration: none;
                    color: black;
                " href="deletee/<%=data.id%>">Delete</a></td>
            </tr>
            <%  i++; }) %>
            <% } else{ %>
                <tr>
                    <td colspan="7">No Data Found</td>
                </tr>
            <% } %>
        </table>
        </div>
            </tbody>
            
          </table>
        </div>
</body>
</html>